certifi==2020.6.20
chainmap==1.0.3
combomethod==1.0.12
cycler==0.10.0
kiwisolver==1.2.0
matplotlib==3.3.2
nulltype==2.3.1
numpy==1.19.2
opencv-python-headless==4.4.0.44
options==1.4.10
Pillow==7.2.0
pyparsing==2.4.7
PyQt5==5.15.1
PyQt5-sip==12.8.1
python-dateutil==2.8.1
six==1.12.0
